.photos {
    /* display: block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;  */
    /* vertical-align: top; */
  }
  .person{
      text-align: left;
  }
  
  img {
    width: auto;
    height: 100%;
    margin-left: -50px;
    display: block;
    width:300px;
  height:300px;
  object-fit:cover;
  border-radius:50%;
  }


.info-text{

    box-sizing: border-box;
    color: purple;
}

.div1 {
    border: 3px solid #0f0;
    overflow:auto; // without overflow here, if the "Line 1" and "Line 2" is short then "Next elements" will display below "Line 2" and the image will cover the "Next elements" 
}
.img {
   float: left;
   width:100px;
   height:100px;
   background: #000 
}
.div2 {
   float: left; // without float here, if "Line 1" and "Line 2" is long -> text will display both at right and bottom the image
} 