
  
  img {
    /* width: auto;
    height: 100%;
    margin-left: -50px;
    display: block;
    width:300px;
  height:300px;
  object-fit:cover; */
  border-radius:50%;
  /* width:400px;
  height:250px; */
  }



 .photos{
   float: left;
   width: 18%;
   margin-bottom: 16px;
   padding: 3px 8px;
   margin-left: 7px;

 }


 @media screen and (max-width: 650px) {
   .photos{
     width: 100%;
     display: block;
   }
 }
 .info-para{
   padding: 0 16px;
   text-align: center;
 }

 .info-para h4{
   
 }

 .info-para::after .team::after{
   content: "";
   clear: both;
   display: table;

 }

 .title{
   color: purple;
 }

.What-is{
  text-align: center;
}
.statement{
  text-align: center;
  
}

.statement p2{
  font-weight: bolder;
}
.meet-the-team h1{
  text-align: center;

}