body {
    font-family: "Lato", sans-serif;
    margin: 0px;
    /* background-color: ; */
}

.welcome-text{
    color: rebeccapurple;
    /* background-blend-mode; */
    position: absolute;
    top: 10%;
    left: 35%;
    font-family: "Lato", sans-serif;
}

.category-search{
    color: purple;
    position: absolute;
    top: 25%;
    left: 40%;
    font-family: "Lato", sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Lato", sans-serif;
  }
  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}
/* Set default styles for tab content */

.right-side{
    display: flex;

}
.left-side {
    display: flex;


}

  .nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;



}
.nav-wrapper > .right-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;


}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

/*the style for business category links*/
.biz-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;

}

.biz-link-wrapper a{
    color: purple;
    text-decoration: none;
    transition: color 0.5s;
}


.biz-link-wrapper a:hover{
    color: purple;
}

.biz-categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  /*this way we divide the page into three sections adn put our items in those columns*/
}

.biz-category{
    position: relative; /*required! to later use the absolute position*/
}

.img-background {
    position: relative;
    top:40%;
    height: 300px;
    width: 100%;
    background-size: cover; /*crops the picture so they appear as the same on the page*/
    background-position: center;
    background-repeat: no-repeat;


}
/*working with the text*/
.img-text-wrapper {
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper img{

    width: 50%;
    margin-bottom: 20px;

}

.img-text-wrapper .subtitle{
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

/*needs to be more specific with selector/hover*/
.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: lightseagreen;

 }


 .img-darken {
    transition: 1s;
    filter: brightness(10%);
 }

 /*list-of-restaurants*/
.item {
	background: lightseagreen;
	padding: 10px;
	margin-bottom: 10px;
            }
            
/*the following is for the pop-up form login, taken from the following website https://www.w3schools.com/howto/howto_js_popup_form.asp*/

/* Button used to open the contact form - fixed at the bottom of the page  */
.open-button {
    background-color: purple;
    color:white ;
    padding: 20px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: absolute;
    bottom: 70%;
    right: 70%;
    width: 280px;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: absolute;
    bottom: 23%;
    right: 70%;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 15px;
    background-color: white;
  }
  
  /* Full-width input fields */
  /* .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 16px 0px;
    margin: 5px 0 18px 0;
    border: none;
    background: #f1f1f1;
  } */
  
  /* When the inputs get focus, do something */
  /* .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  } */
  
  /* Set a style for the submit/login button */
  .button_click {
    background-color: purple;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: crimson;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
  /* this is the text style for the popup form*/

  .pop-up-text{
      position: absolute;
      right: 70%;
      color: purple;
  }
.alternative{
    color: purple;
    position: absolute;
    bottom: 70%;
    right: 50%;


}

.new-business-text{
    position: absolute;
    color: purple;
    bottom: 80%;
    right: 25%;
}
.new-business{
    position: absolute;
    color: purple;
    bottom: 57%;
    right: 15%;
}
  /*end of the messafe pop up form*/



/* START of styles for the form*/
.button_click {
        background-color: purple;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom:10px;
        opacity: 0.8;
      
}
.form-design{
    box-sizing: border-box;
}


/* END of the styles for the form*/

/* beginning of styles for category pages*/

ul{
    list-style-type: none; /*to get ride of bullet points*/
    padding: 0;
}

li{ /*To create a block of shade around data */
    padding: 20px;
    background-color: gray;
    font-size: 15px;
    color:white;
    opacity: 0.7;
    position: relative;
    /* border-bottom: 1px solid #e6e6e6; */
    height: 140px;
    width: 200px;
    float: left;
    width: 20%;

}

li:nth-child(1){
    padding: 20px;

}

li span{ /*span meaning: name, address, etc*/
    display: block; /*this helps the data to stay as a block*/
    color: white;
    position: relative;
}

li span:nth-child(1){
    font-size: 16px;
    font-weight: bold;
    margin-top: 6px;
    color: #000;

}




/* li div{
    position: absolute;
    top: 0;
    right: 0px;
    background: rgba(255,255,255,0.6);
    width: 40px;
    text-align: center;
    padding: 10px 0;
    font-weight:  bold;
    cursor:  pointer;
} */

/*End of the styles for category pages

/* form input{
    float: left;
    width: 38%;
    margin: 0;
    border: 0;
    border-bottom: 1px solid #eee;
    margin: 0 1%;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    font-size: 18px;
}

form input:focus{
    outline: none;
    border-bottom: 3px solid #88236f;
    padding-bottom: 8px;
    transition: all ease 0.2s;
}

form:after{
    content: '';
    clear: both;
    display: block;
}

button{
    border: 0;
    background: #fff;
    border-radius: 10px;
    padding: 13px;
    width: 14%;
    box-shadow: -1px 0px 1px rgba(0,0,0,0.1);
    font-weight: bold;
    font-family: ubuntu;
    letter-spacing: 1px;
    color: #999;

} */

